body{
	background: #dee5fc;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
}

header{
	margin-bottom: 10px;
}

h1{
    text-align: center;
}

.btn-primary,.reset{
	background-color: #bbbdf1;
	color: white;
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #1d4dec;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h2, #message, #finalMessage{
	font-family: 'Cabin';
}

.thisChoice:hover{
	background-color: #1d4dec;
	color: white;
	padding: 10px;
}

#pic{
	margin: 30px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}



